<div id="edit-password"k>
  <div class="container pt-5 pb-5">
    <h1>Change password</h1>
    <hr/>
    <form action="updatePassword" method="POST">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password">New password</label>
            <input class="form-control" id="password" name="password" type="password"   placeholder="••••••••" autocomplete="new-password" focus-first>
            <div class="invalid-feedback" v-if="formErrors.password">Please enter a password or choose "Cancel".</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="confirm-password">Confirm password</label>
            <input class="form-control" id="confirm-password" name="confirm-password" type="password"  autocomplete="new-password" placeholder="••••••••">
            <div class="invalid-feedback" v-if="formErrors.confirmPassword">Your new password and confirmation do not match.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <cloud-error v-if="cloudError"></cloud-error>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account">Cancel</a>
            <button type="submit" class="btn btn-dark">Save changes</button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
