<div class="container">
    <form action="/meal" method="post">
        <div>
            <div>
                <label>Name</label>
            </div>
            <div>
                <input type="text" maxlength="80" name="name">
            </div>
            <div>
                <label>Preis</label>
            </div>
            <div>
                <input type="number" maxlength="8" name="price">
            </div>
            <div>
                <label>Beschreibung</label>
            </div>
            <div>
                <input type="text" maxlength="255" size="40" name="description">
            </div>
        </div>
        <button type="submit">Hinzufügen</button>
    </form>
</div>