<div class="container">
    <div class="card w-100 mt-4">
        <h4 class="card-header">
            Speisekarten Eintrag anzeigen
        </h4>
        <div>
            <div class="row">
                <div class="col-2">
                    Name
                </div> 
                <div class="col-10">
                    <%= meal.name %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Preis
                </div> 
                <div class="col-10">
                    <%= meal.price %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Beschreibung
                </div> 
                <div class="col-10">
                    <%= meal.description %>
                </div>
            </div>
            <% if(meal.category) { %>
                <div class="row">
                    <div class="col-2">
                        Kategorie
                    </div> 
                    <div class="col-10">
                        <%= meal.category.name %>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</div>