<div class="container">
    <div class="m-4">
        <h1 class="text-4xl font-sans text-gray-500 font-light">Speisekarten Eintrag anzeigen</h1>

        <div>
            <div class="row">
                <div class="col-2">
                    Name
                </div> 
                <div class="col-10">
                    <%= meal.name %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Preis
                </div> 
                <div class="col-10">
                    <%= meal.price %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Beschreibung
                </div> 
                <div class="col-10">
                    <%= meal.description %>
                </div>
            </div>
        </div>
    </div>
</div>