<div class="container">
    <h2 class="mt-4">Willkommen in der Administrationsoberfläche</h2>
    <div class="card w-100 mt-4">
        <h4 class="card-header">
            Speisekarte Verwalten
        </h4>
        <div class="card-body text-center container">
            <div class="row mt-4">
                <div class="mb-4 col-sm">
                    <a class="green-button" href="/meal/">Speisen anzeigen</a>
                </div>
                <div class="mb-4 col-sm">
                    <a class="green-button" href="/meal/new">Speise hinzufügen</a>
                </div>
                <div class="mb-4 col-sm">
                    <a class="green-button" href="/category">Kategorien bearbeiten</a>
                </div>
            </div>
        </div>
    </div>
</div>