<div class="container">
    <h1>Willkommen in der Administrationsoberfläche</h1>

    <h2>Speisekarte Verwalten</h2>
    <a class="green-button" href="/meal/">Speisen anzeigen</a>
    <a class="green-button" href="/meal/new">Speise hinzufügen</a>
</div>