<img src="images/banner.jpeg" width="100%" alt="Bild Strandbad">
<h1>Willkommen im Strandbad Kattenhorn</h1>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-8">
      <section>
          <h2>Unberührte Natur</h2>
          Inmitten unberührter Natur direkt am schönen Bodensee finden Sie unser Strandbad mit einer Liegewiese,
          die zum Entspannen einlädt.
      </section>
      <section>
          <h2>Badevergnügen im klaren Wasser</h2>
          <div>
              Im abgegrenzten Badebereich können Sie sich sorgenfrei erfrischen und das
              Wasser in bester Bodenseequalität genießen. Hier tummeln sich alt und jung
              um zu planschen und schwimmen.
              Moderne Umkleidekabinen und Duschen sorgen für Komfort vor und nach dem Bad.
          </div>
          <div class="button"><a class="green-button">Eintritt buchen</a></div>
      </section>
      <section>
          <h2>Preigekrönte Gastronomie</h2>
          <div>
              Das Angebot unserer Gastronomie reicht vom schnellen Snack bis zum 4-Gänge Menü.
              Lassen Sie sich von unserer preisgekrönten Küche verwöhnen.
              Wir verwenden ausschliesslich regionale Produkte.
          </div>
          <div class="button"><a class="green-button" href="speisekarte">Zur Speisekarte</a></div>
      </section>
  </div>
  <aside class="col-md-4">
      <div class="saison">
          Badesaison: 15. Mai bis 15. September
      </div>
      <div class="zeiten">
          Öffnungszeiten Strandbad:<Br>
          Montag bis Sonntag 10 Uhr bis 20 Uhr
      </div>
      <div class="zeiten">
          Öffnungszeiten Restaurant:</BR>10 Uhr bis 22 Uhr (Dienstag Ruhetag)
      </div>
  </aside>
  </div>
</div>
